extends ../layout-default.pug

block head
  script(defer src="https://unpkg.com/htmx.org@2.0.4", integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+", crossorigin="anonymous")
  link(rel="stylesheet", href="https://matcha.mizu.sh/matcha.css")
  link(rel="stylesheet", href="/css/matcha-reset.css")

block content
  - var pageTitle = `Todo Demo`
  h2= pageTitle
  if errors
    section
      .alert.alert-danger
        each error in errors
          p= error.message
  section#todo-list
    include fragments/index.pug
  //section
  //  footer
  //      button(type="button" hx-get="/todos/new" hx-target="#todo-list" hx-swap="beforeend") New Todo
