doctype html
html(lang="en")
  include _includes/head.pug
  body
    header
      include _includes/header.pug
      include _includes/breadcrumbs.pug
      include _includes/flashes.pug
      include _includes/messages.pug
    main.content#main-content
      block content
    footer
      include _includes/footer.pug
      include _includes/foot.pug