extends ../layout-default.pug

block content
    h1 Login
    if errors
        ul
            each error in errors
                li= error.message
    form(action="/users/login" method="POST")
        label(for="username") Username:
        input(type="text" id="username" name="username" required)
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
        button(type="submit") Login
